
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,svg{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	overflow: hidden;
}
body {
	line-height: 1;
	background-color: #FBF3DE;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p{
	clear: both;
	line-height: 35px;
	font-size: 25px;
	/*position: absolute;*/
	left: 50px;
	font-weight: 300;
}
svg{
	float: left;
}
strong{
	font-family: "微软雅黑","华文细黑",Arial;
	font-size: 25px;
	font-weight: 300;
	width: 100%;
	display: inline-block;
	margin-top: 5px;
}
button{
	border:none;
	background-color: white;
	font-weight:500;
	font-size: 20px;
	border-radius: 5px;
	margin-top:20px;
}
@-webkit-keyframes warn 
{
	0%{stroke: #FA3939;}
	90%{stroke: #FA3939;}
	100%{stroke: gray;}
}
@keyframes warn
{
	0%{stroke: #FA3939;}
	90%{stroke: #FA3939;}
	100%{stroke: gray;}
}

@-moz-keyframes warn 
{
	0%{stroke: #FA3939;}
	90%{stroke: #FA3939;}
	100%{stroke: gray;}
}
@-webkit-keyframes pass 
{
	0%{stroke: #08D808;}
	90%{stroke: #08D808;}
	100%{stroke: gray;}
}
@keyframes pass
{
	0%{stroke: #08D808;}
	90%{stroke: #08D808;}
	100%{stroke: gray;}
}

@-moz-keyframes pass 
{
	0%{stroke: #08D808;}
	90%{stroke: #08D808;}
	100%{stroke: gray;}
}
.warn{
	animation: warn 0.5s;
	-moz-animation: warn 0.5s;
	-webkit-animation: warn 0.5s;
	-o-animation: warn 0.5s;
}
.pass{
	animation: pass 0.5s;
	-moz-animation: pass 0.5s;
	-webkit-animation: pass 0.5s;
	-o-animation: pass 0.5s;
}
.turnBig{
	animation: turnBig 0.4s;
	-moz-animation: turnBig 0.4s;
	-webkit-animation: turnBig 0.4s;
	-o-animation: turnBig 0.4s;
}
@-webkit-keyframes turnBig 
{
	0%{r: 17;}
	30%{r: 27;}
	100%{r: 17;}
}
@-moz-keyframes turnBig 
{
	0%{r: 17;}
	30%{r: 27;}
	100%{r: 17;}
}
@keyframes turnBig
{
	0%{r: 17;}
	30%{r: 27;}
	100%{r: 17;}
}
@media (max-width: 479px){
	section{
		float: left;
		margin:0px 20px;
		width: auto;
	}
}
@media (min-width: 479px){
	section{
		float: left;
		margin:50px 10px;
		width: auto;
	}
}
